* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*}*/
/*body{*/
/*     !*background-image: url("assets/img/ff.jpg");*!*/
/*     background-image: url("assets/img/eeee.jpg");*/
/* }*/
.container{
    max-width: 1200px;
    margin: 0 auto;

}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section-padding{
    padding: 100px 0;
    background-image: url("https://i.pinimg.com/736x/0f/ad/9d/0fad9da468fe47a830b124c774c0cc32.jpg");
}
.btn {
    height: 70px;
    text-transform: uppercase;
    color: white;
}
